src/emmanuel/iSpyAndSteal/iSpyPortal/Connected Services/ServiceReference1/Service41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://185.208.207.126/Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
  <xs:import schemaLocation="http://185.208.207.126/Service/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iSpyAndStealService" />
  <xs:import schemaLocation="http://185.208.207.126/Service/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="GetAllSystem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" minOccurs="0" name="GetAllSystemResult" nillable="true" type="q1:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHardwareInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="hrd" nillable="true" type="q2:SYSTEM_INFORMATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHardwareInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHardwareInformationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sp" nillable="true" type="q3:SUPPORT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="priv" nillable="true" type="q4:PRIV" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrivsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetPrivsResult" nillable="true" type="q5:ArrayOfPrivsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleWithPrivs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleWithPrivsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetUserRoleWithPrivsResult" nillable="true" type="q6:ArrayOfUserRoleWithPrivsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleWithPrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleWithPrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetRoleWithPrivilegesResult" nillable="true" type="q7:ArrayOfRolePrivsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivsToRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="roleLists" nillable="true" type="q8:ArrayOfRoleList" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="privlegeses" nillable="true" type="q9:ArrayOfRolePrivleges" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivsToRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetUsersResult" nillable="true" type="q10:ArrayOfUsersEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolePrivleges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolePrivlegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetRolePrivlegesResult" nillable="true" type="q11:ArrayOfRolePrivlegesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="role" nillable="true" type="q12:ROLE" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="privlegeses" nillable="true" type="q13:ArrayOfROLEPRIV" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetRolesResult" nillable="true" type="q14:ArrayOfRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssingRolesToMultiUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="userrole" nillable="true" type="q15:ArrayOfUSERROLE" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssingRolesToMultiUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeMultiRoleFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="list" nillable="true" type="q16:ArrayOfUSERROLE" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeMultiRoleFromUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevokeMultiRoleFromUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q17:V_USER_LOGIN_DETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="AuthenticateUserMacResult" nillable="true" type="q18:V_USER_LOGIN_DETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChnagePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChnagePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChnagePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActiveWindows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="win" nillable="true" type="q19:ArrayOfWINDOW_ACTIVE" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActiveWindowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActiveWindowsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sv" nillable="true" type="q20:ArrayOfSYSTEM_VOLUME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVolumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVolumeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMemory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sv" nillable="true" type="q21:ArrayOfSYSTEM_MEMORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMemoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemMemoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoginHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="log" nillable="true" type="q22:ACTIVITYLOG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoginHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLoginHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPointingDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="dev" nillable="true" type="q23:ArrayOfSYSTEM_POINTING_DEVICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPointingDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemPointingDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPortConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="port" nillable="true" type="q24:ArrayOfSYSTEM_PORT_CONNECTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPortConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemPortConnectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPrinters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="printer" nillable="true" type="q25:ArrayOfSYSTEM_PRINTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemPrintersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemPrintersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemSoundDeices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sound" nillable="true" type="q26:ArrayOfSYSTEM_SOUND_DEVICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemSoundDeicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemSoundDeicesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemVideoConroller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="video" nillable="true" type="q27:ArrayOfSYSTEM_VIDEO_CONTROLLER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemVideoConrollerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemVideoConrollerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemNetworkInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="video" nillable="true" type="q28:ArrayOfSYSTEM_NETWORK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemNetworkInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemNetworkInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemActiveWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemActiveWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemActiveWindowResult" nillable="true" type="q29:ArrayOfV_SYSTEM_ACTIVE_WINDOW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemNetworkResult" nillable="true" type="q30:ArrayOfV_SYSTEM_NETWORK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMemory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMemoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemMemoryResult" nillable="true" type="q31:ArrayOfV_SYSTEM_MEMORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPointingDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPointingDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPointingDeviceResult" nillable="true" type="q32:ArrayOfV_SYSTEM_POINTING_DEVICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPorts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPortsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPortsResult" nillable="true" type="q33:ArrayOfV_SYSTEM_PORTS_CONNECTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPrinter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPrinterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPrinterResult" nillable="true" type="q34:ArrayOfV_SYSTEM_PRINTER_INFORMATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemSoundResult" nillable="true" type="q35:ArrayOfV_SYSTEM_SOUND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVideoControllers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVideoControllersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemVideoControllersResult" nillable="true" type="q36:ArrayOfV_SYSTEM_VIDEO_CONTROLLER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVolumeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemVolumeResult" nillable="true" type="q37:ArrayOfV_SYSTEM_VOLUME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMemoryUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMemoryUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemMemoryUsageResult" nillable="true" type="q38:ArrayOfV_SYSTEM_MEMORY_USAGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProcessorUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:long" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemProcessorUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemProcessorUsageResult" nillable="true" type="q39:ArrayOfV_SYSTEM_PROCESSOR_USAGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMemoryUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sv" nillable="true" type="q40:SYSTEM_MEMORY_USAGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMemoryUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemMemoryUsageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemProcessorUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="sv" nillable="true" type="q41:SYSTEM_PROCESSOR_USAGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemProcessorUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemProcessorUsageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChromeHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="hist" nillable="true" type="q42:ArrayOfBROWSER_HISTORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChromeHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChromeHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemInstalledApps">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="hist" nillable="true" type="q43:ArrayOfSYSTEM_INSTALLED_APPLICATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemInstalledAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemInstalledAppsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="VerifyLicenseResult" nillable="true" type="q44:LicenseDevices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="loginUserResult" nillable="true" type="q45:UserPortalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="user" nillable="true" type="q46:UserPortalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrowserHistoryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrowserHistoryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="getBrowserHistoryAllResult" nillable="true" type="q47:ArrayOfV_BrowserHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetRegisteredSystemsResult" nillable="true" type="q48:ArrayOfSYSTEM_INFORMATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstalledApps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstalledAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetInstalledAppsResult" nillable="true" type="q49:ArrayOfV_SYSTEM_REGISTERED_APPS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysActiveWindows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysActiveWindowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSysActiveWindowsResult" nillable="true" type="q50:ArrayOfV_SYSTEM_ACTIVE_WINDOWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVideoControllersNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemVideoControllersNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemVideoControllersNewResult" nillable="true" type="q51:ArrayOfV_SYSTEM_VIDEO_CONTROLLERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSoundDevicesPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSoundDevicesPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemSoundDevicesPortalResult" nillable="true" type="q52:ArrayOfV_SYSTEM_SOUND_DEVICES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetworkDevicePortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetworkDevicePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemNetworkDevicePortalResult" nillable="true" type="q53:ArrayOfV_SYSTEM_NETWOR_DEVICES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPointingDevicePortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPointingDevicePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPointingDevicePortalResult" nillable="true" type="q54:ArrayOfV_SYSTEM_POINTING_DEVICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPortsDevicePortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPortsDevicePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPortsDevicePortalResult" nillable="true" type="q55:ArrayOfV_SYSTEM_PORTS_CONNECTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPrintDevicePortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemPrintDevicePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/iSpyAndStealService" minOccurs="0" name="GetSystemPrintDevicePortalResult" nillable="true" type="q56:ArrayOfV_SYSTEM_PRINTER_INFORMATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>